<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      <label for="name">Имя студента</label>
      <input id="name" value="{{student.name}}" />
      <label for="house">Название Дома</label>
      <select id="house" name="house">
        {{#select student.house}} {{#each houses}}
        <option value="{{this}}">{{this}}</option>
        {{/each}} {{/select}}
      </select>
      <button>Сохранить</button>
    </form>
  </body>
</html>
